.bg_image{
    /* background-image: url(../tlo.jpeg); */
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        height: 80%;
    }
}
.instagram{
    height: 50vh;
    position: relative;

    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
    .instagram_photo{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100%;
        .photo_prb{
            width: 14vw;
            height: 14vw;
            background-color: rebeccapurple;
        }

    }
    .instagram_text{
        height: 50%;
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        position: absolute;
        transform: translate(50%, 32%);
        h2{
            font-size: 6rem;
        }
        .instagram_link{
            width: 100%;
            background-color: #F49817;
            color: white;
            height: 36%;
            display: flex;
            justify-content: center;
            align-items: center;
            p{
            font-size: 3vw;
        }
        }
    }
}

.wyroznienia{
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .wyroznienia_opcje{
        height: 80%;
        width: 25%;
        display:flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        padding: 35px 20px 20px 20px;
        background-color: #CCE5B6;
        border: 3px solid #6DB52C;

            .wyroznienia_icon{
                font-size: 75px;
                color: green;
            }
            p{
                text-align: center;
            }

    }

}
.container_all .wyroznia_header{
    font-size: 5.5rem;
}
@media(max-width:1024px){
    .wyroznienia{
        height: 200vh;
        flex-direction: column;
        .wyroznienia_opcje{
            height: 25%;
            width: 80%;

}
    }
    .instagram .instagram_photo{
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        .photo_prb{
            width: 15vh;
            height: 18vh;
            background-color: rebeccapurple;
        }

    }

}
@media(max-width:320px){
    .wyroznienia{
        height: 300vh;
        flex-direction: column;
        .wyroznienia_opcje{
            height: 25%;
            width: 80%;
        }
}
}